*{
    margin: 0rem;
    padding: 0.2rem;
    box-sizing: border-box;
}

html{
    font-size: 62.5%
}
body{
    background-color: #E5E7E9 ;
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    text-align:center;
    position: relative;
    font-size: 3rem;
}
h3{
    font-size: 1.7rem;
    color: red;
    background-color: grey;
}
h4{
    font-size: 1.7rem;
    color: purple;
    background-color: grey;
}
p{
    font-size: 1.3rem;
    color: black;
    background-color: #CCD1D1;
    display: inline-block;
}
.letras{
    color: blue;
    font-size: 1.4rem;
    background-color: #CCD1D1;
    font-weight: bold;
    text-decoration: underline;
    display: inline-block;
    width: ;
}
.numeros{
    color: green;
    font-size: 1.4rem;
    background-color: #CCD1D1;
    font-weight: bold;
    display: inline-block;
}
.contenedor{
    background-color: #CCD1D1;
}
