*{
    margin: 0.1rem;
    padding: 0.1rem;
    box-sizing: border-box;
}

html{
    font-size: 62.5%
}
body{
    font-family: Arial, Helvetica, sans-serif;
}
.general{
    background-color:#65B6B6;
    height: 85rem;
}
.general1{
    background-color:#65B6B6;
    height: 50rem;
}
h1{
    color: black;
    text-align:center;
    font-size:5rem;
    position: relative;
    right: 1rem;
}
h2{
    font-size: 2rem;
}
.v1{
    position: relative;
    left: 25rem;
    top: 3rem;
}
.v2{
    position: relative;
    left: 1rem;
    top: 3rem;
}
.v3{
    position: relative;
    left: 25rem;
    top: 3rem;
}
.v4{
    position: relative;
    left: 1rem;
    top: 3rem;
}
img{
    border-style: solid;
    border-width:1rem;
    outline: 1rem solid green;
    position: relative;
    left: 2rem;
}
.img1{
    position: relative;
    left: 78rem;
}
.GOW{
    position: relative;
    left: 15rem;
    top: 10rem;
    width: 105rem;
    height: 30rem;
    border-style: solid;
    border-width:1rem;
    background-color: white;
}
.FF{
    position: relative;
    left: 15rem;
    top: 10rem;
    width: 105rem;
    height: 33rem;
    border-style: solid;
    border-width:1rem;
    background-color: white;
}
.DI{
    position: relative;
    left: 15rem;
    top: 10rem;
    width: 105rem;
    height: 33rem;
    border-style: solid;
    border-width:1rem;
    position: relative;
    left: 15rem;
    background-color: white;
}
.AC{
    position: relative;
    left: 15rem;
    top: 10rem;
    width: 105rem;
    height: 35rem;
    border-style: solid;
    border-width:1rem;
    position: relative;
    left: 15rem;
    background-color: white;
}
p{
    font-size: 1.5rem;
    color: black;
}
.p{
    text-align: center;
}
ul{
    display: flex;
    justify-content: center;
    color: black;
    list-style-type:"-";
    text-decoration: underline;
    margin: 0;
    padding: 0;
    font-size: 2rem;
}
li{
    padding: 20px;
    font-weight: bold;
    position: relative;
    top: 4rem;
}
.P1{
    position: relative;
    left: 25rem;
    bottom: 15rem;
    text-align: justify;
}
.P2{
    position: relative;
    left: 1rem;
    bottom: 15rem;
    text-align: justify;
}
.P3{
    position: relative;
    left: 25rem;
    bottom: 15rem;
    text-align: justify;
}
.P4{
    position: relative;
    left: 1rem;
    bottom: 16rem;
    text-align: justify;
}
footer{
    font-size: 1.5rem;
    color: black;
    display: inline-block;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: oblique;
}